<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.iwen.LightChat">
    <!-- 读取相关权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 写存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 网络相关权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 个推 SDK 权限配置开始 -->
    <!-- 必选权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 以下为可选权限 -->
    <!-- 支持 iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 支持个推电子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 自定义权限 -->
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}" />

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal" />

    <application
        android:name="com.example.iwen.LightChat.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity
            android:name="com.example.iwen.LightChat.activities.GroupMemberActivity"
            android:label="@string/title_member_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name="com.example.iwen.LightChat.activities.GroupCreateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Group.Create" />
        <activity
            android:name="com.example.iwen.LightChat.activities.PersonalActivity"
            android:label="PersonalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name="com.example.iwen.LightChat.activities.MessageActivity"
            android:label="@string/title_activity_message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Message"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.example.iwen.LightChat.activities.SearchActivity"
            android:label="@string/title_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" /> <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="${GETUI_APP_ID}" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="${GETUI_APP_KEY}" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="${GETUI_APP_SECRET}" /> <!-- 配置 SDK 核心服务 -->
        <!-- permission 属性在 2.13.1.0 版本后必须配置 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="false"
            android:label="NotificationCenter"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" /> <!-- 个推广播注册 -->
        <receiver
            android:name="com.example.iwen.LightChat.MessageReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="1000">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 以下三项为可选的 action 声明，有助于提高 service 存活率 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.example.iwen.LightChat.activities.UserActivity"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name="com.example.iwen.LightChat.LaunchActivity"
            android:label="@string/title_activity_launch"
            android:theme="@style/AppTheme.TransStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.iwen.LightChat.activities.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Account" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.iwen.LightChat.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
    </application>

</manifest>